* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body
{
    background-image: url('pic/books.jpg');
    background-size: cover;
}
nav
{
    width: 10%; 
    height: 100vh;
    float: left;
    background-color: rgb(112, 128, 144, 0.6);
    position: fixed;
    text-align: center;
}
nav ul {list-style: none;}
nav li 
{
    text-align: center;
    border-bottom: 1px solid white;

}
nav ul li a
{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     padding: 15px;
     display: inline-block;
     width: 100%;
}
nav ul li a:hover
{
    background-color: rgb(78, 75, 75);
}
#logo{
    height: 100px;
    border-bottom: 1px solid white;
    height: 99px;
    width: 99px;
    border-radius: 10%;
}
main
{
    width: 90%;
    height: 25vh;
    float: right;
    padding: 10px ;
    text-align: center;
}
footer
{
    
    float: right;
    width: 90%;
    padding: 0px; 
    background-color: rgb(112, 128, 144, 0.6);
    

}

footer a img
{
    display: inline;
    height: 3vh;
    width: 2%;
}
div
{
    padding: 5px;
}
#mainDiv
{
    width: 90%;
    float: right;
    padding: 5px ;
    height: 75vh;
    
}
thead
{
    background-color: rgb(112, 128, 144, 0.7);
    border-width: 0;

}
.top
{
    text-align: center;
    font-size: 34px;
    
}
#number
{
    width: 5%;
    font-size: 20px;
    text-align: center;
}
#picture
{
    width: 10%;
    
    text-align: center;
}
#picture img
{
    
    height: 35%;
}
#name
{
    width: 30%;
    padding-left: 10px;
    text-align: center;
    
    
}
#him
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
#price
{
    text-align: center;
    font-size:30px;
    width: 10%;
}
#howMany
{
    font-size: 30px;
    text-align: center;
    width: 10%;
}
#deleteBook
{
    text-align: center;
    width: 10%;
}
#deleteBook img
{
    border-radius: 40%;
    
}
table
{
    background-origin: padding-box;
}