* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body
{
    background-image: url('pic/books.jpg');
    background-size: cover;
}
nav
{
    width: 10%; 
    height: 100vh;
    float: left;
    background-color: rgb(112, 128, 144, 0.6);
    position: fixed;
    text-align: center;
}
nav ul {list-style: none;}
nav li 
{
    text-align: center;
    border-bottom: 1px solid white;

}
nav ul li a
{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     padding: 15px;
     display: inline-block;
     width: 100%;
}
nav ul li a:hover
{
    background-color: rgb(78, 75, 75);
}
#logo{
    height: 100px;
    border-bottom: 1px solid white;
    width: 99px;
    height: 99px;
}
main
{
    width: 90%;
    height: 100vh;
    float: right;
    padding: 10px ;
    text-align: center;
    
}
footer
{  
    float: right;
    width: 90%;
    padding: 0px; 
    background-color: rgb(112, 128, 144, 0.6);
}

footer a img
{
    display: inline;
    height: 3vh;
    width: 2%;    
}


div
{
    width: 46%;
    text-align: center;
    display: inline-block;
    padding: 1%;
}
#description
{
    width: 100%;
    padding: 2%;
    text-align: left;
    font-weight: bold;
}
#desc
{
    float: right;
    width: 46%;
    text-align: center;
    /*display: inline-block;*/
    padding: 1%;
}
#text
{
    float:left;
	text-align:left;
    width: 100%;
    font-size: 19px;
    /*width: fit-content;*/
}
th,td
{
    background-color: rgb(112, 128, 144, 0.6);
    font-weight: bold;
    
}
img 
{
    
    border-radius: 15%;
     
    
}
h2
{
    
    background-color: rgb(112, 128, 144, 0.6);
    color: white;
    text-align: left;
}
.btn
{
    background-color: rgba(111, 128, 144, 0.9); color: black;
    font-size: 20px;
    font-weight: bold;
}
.btn:hover
{
    background-color: rgb(255, 255, 255);
}
/*css za login*/
.open-button {
    background-color: rgba(111, 128, 144, 0.9); 
    color: white;
     text-decoration: none;
     text-transform: uppercase;
     padding: 15px;
     display: inline-block;
     width: 100%;
     border: none;
  }
  
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    overflow-y: scroll !important;
  }
  
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    /*margin: 5px 0 22px 0;*/
    border: none;
    background: #f1f1f1;
  }
  
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: red;
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
